<!DOCTYPE html>
<html>
  <head>
    <title>Game Scores</title>
    <link rel="stylesheet" type="text/css" href="index.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&family=Dosis:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= link_to 'Add New Game', games_new_path %>
    <%= link_to 'Edit Game Info', games_update_path %>
    <br>
    
    <div class="cards">
      <% @games.each do |game| %>
        <div class="card">
          <img class="card-img" src=<%= game.image %> alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%= game.game_name %></h4>
            <h4 class="card-score yellow"><%= game.score %> ⭐</h4>
            <h5 class="card-type"><%= game.game_type %></h5>
            <h5 class="card-tag"><%= game.game_tag_1 %> &nbsp <%= game.game_tag_2 %> 
            &nbsp <%= game.game_tag_3 %> &nbsp <%= game.game_tag_4 %>
            &nbsp <%= game.game_tag_5 %></h5>
            <a href="#" class="btn btn-primary">Check Comments</a>
          </div>
        </div>
      <% end %>
    <div>

    <div class="preloader" id="preloader">
      <img class="preload_anim" src="https://media3.giphy.com/media/3oEjHYlwvUK5p9AIbm/giphy.gif">
      <div class="preload_load">
        <%= image_tag("loading.gif") %>
      </div>
    </div>

    <%= javascript_pack_tag 'index.js' %>
  </body>
</html>